<h1>Bienvenue sur la page d'accueil de Prostages<h1>

<p>Liste des pages disponible sur le site :<p>
<ul>
  <li>
    <a href="{{path('prostage_entreprises')}}">Entreprises</a>
  </li>
  <li>
    <a href="{{path('prostage_formations')}}">Formations</a>
  </li>
  <li>
    <a href="{{path('prostage_stages', {id:154})}}">Stages</a>
  </li>
</ul>
