<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


        <!-- BLOC DES FEUILLES DE STYLE -->
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        {% endblock %}
    </head>
    <body>
      <!-- NavBar afficher en haut de l'écran-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-dark bg-dark">
              <a class="navbar-brand" href="{{path('prostage_accueil')}}">ProStage</a>
            </nav>
          </div>
        </div>

        <!-- Block JavaScript-->
        {% block body %}{% endblock %}

        <!-- Block JavaScript-->
        {% block javascripts %}<script type="{{asset('/js/bootstrap.min.js')}}"></script>{% endblock %}
      </div>

    </body>
</html>
